body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 20px;
    height: 100%;
}

h1, h2, h3 {
    font-weight: normal;
    margin: 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
    margin: 10px 0;
}

h3 {
    font-size: 16px;
}

p, li {
    font-size: 14px;
}

button {
    background-color: inherit;
    padding: 10px 20px;
    border: 1px solid black;
    margin: 0 10px;
}

button:hover {
    background-color: black;
    color: white;
}

table {
    padding: 10px 0;
}

td {
    font-size: 12px;
    width: 30%;
    vertical-align: top;
    padding: 5px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: black;
}

hr {
    margin: 15px 0;
    width: 90%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.transision {
    transition: 0.2s;
}

.absolute {
    position: absolute;
}

.pointer {
    cursor: pointer;
}

main {
    padding: 20px 0;
}

#logo {
    padding: 10px 0;
    width: 90%;
}

.nav-item {
    padding: 10px 0;
}

.nav-link a {
    position: relative;
    opacity: 60%;
}

.nav-link .active {
    opacity: 100%;
}

#nav-button {
    width: 10%;
}

main {
    padding-bottom: 100px
}

#home {
    top: 200px;
}

.entry {
    padding: 10px 0px 20px 0px;
}

.section {
    width: 100%;
    padding: 10px 0;
}

.col {
    width: 100%;
}

#contact {
    padding-bottom: 10px;
}

#contact p {
    padding: 0 10px;
}

.text {
    width: 80%;
}

#skills li {
    margin: 5px 10px;
}

.social {
    width: 100%;
}

.social_card {
    margin: 10px 0;
}

.social_card img {
    width: 50px;
    border-radius: 50%;
    margin: 0 5px;
}

.social_card h3 {
    margin: auto 10px;
    transform: translate(0, -20%);
}

.project-subtext {
    width: 80%;
}

@media screen and (max-width: 1023px) {
    nav {
        width: 100%;
    }

    .nav-link {
        width: 90%;
    }
}

@media screen and (min-width: 768px) {
    body {
        margin: 40px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    p, li {
        font-size: 16px;
    }

    .text {
        width: 70%;
    }

    .desktop-flex {
        display: flex;
        flex-wrap: wrap;
    }

    .entry {
        width: 45%;
        margin-right: 5%;
    }
}

@media screen and (min-width: 1024px) {
    #logo {
        width: 200px;
    }

    .nav-item {
        padding: 10px;
        margin: 10px;
    }

    .col {
        width: 50%;
    }

    .nav-link a:after {
      content: '';
      height: 1px;
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 0%;
      background: black;
      transition: 0.2s;
    }
    
    .nav-link a:hover:after {
      width: 90%;
    }
}

@media screen and (min-width: 1280px) {
    body {
        padding-right: 80px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1024px;
    }

    #logo {
        width: 200px;
    }

    .nav-item {
        padding: 10px;
        margin: 10px;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #121212;
    }

    h1, h2, p, a, i, td, li, button {
        color: white;
    }

    button {
        border-color: white;
    }

    button:hover {
        background-color: white;
        color: black;
    }

    .nav-link a:after {
        background: white;
    }
}

/*#background {
    left: 0;
    top: 0;
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: fixed;
}

picture {
    max-width: 100%;
    min-height: 100%;
}

img {
    object-fit: cover;
}*/

/*#background {
    position: fixed;
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
}*/

/*#background-text {
    top: 50%;
    text-align: center;
    width: 100%;
    transform: translate(0, -100%);
}*/


/*nav {
    padding-bottom: 10px;
}

#content {
    padding: 30px 0;
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-color: white;
}


@media only screen and (min-height: 600px) {
    footer {
        position: absolute;
        bottom: 5%;
    }
}


@media only screen and (max-width: 767px) {
    .mobile-hide {
        display: none;
    }
}


@media only screen and (min-width: 768px) {
    body {
        margin: 40px;
    }

    h1, h2 {
        font-size: 36px;
    }

    h1 {
        color: white;
    }

    .text {
        font-size: 24px;
    }


    nav {
        position: relative;
        z-index: 3;
    }

    #logo, #cross, #background-overlay, #content, img, #background-text {
        position: absolute;
    }

    #cross {
        right: 0;
        cursor: pointer;
        transition: 0.2s;
    }

    #background-overlay {
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.4);
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    #background-text {
        top: 50%;
        text-align: center;
        width: 100%;
        transform: translate(0, -100%);
    }

    #content {
        top: 50%;
        transform: translate(0, -100%);
        max-width: 800px;
    }

    img {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    #contact {
        display: flex;
        flex-wrap: wrap;
    }

    #contact ul {
        width: 10%;
    }

    #contact ul li {
        width: 350px;
    }
}*/